html,
body {
    height: 95vh;
    width: 95%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/pattern.png');
    background-color: #222;
}

#gsTitle {
    position: relative;
    color: #fff;
    font-size: 108px;
    font-family: "oswald", sans-serif;
}

.gsTitle-title {
    margin: 0;
    white-space: nowrap;
}

.gsTitle-color {
    position: absolute;
    top: 0;
    opacity: 0;
    margin: -.09em 0 0 .09em;
    color: #18b8ff;
    mix-blend-mode: darken;
    transition: .1s;
    transition-property: opacity, margin;
}

.gsTitle-b {
    margin: .05em 0 0 -.05em;
    color: #f51dd3;
    mix-blend-mode: color-burn;
}

.gsTitle-glitched .gsTitle-color {
    opacity: .4;
}

.footer {
    /* important! */
    bottom: 0;
    height: 64px; /* height = body margin-bottom */
    position: absolute;
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    /* padding-left: 40px; */
}

a.glitch {
    text-decoration: none;
    color: #eee;
    font-weight: 900;
    font-size: 15px;
    display: block;
    position: relative;
    margin-bottom: 0px;
    /* padding: 2em; */
}

a.glitch > span {
    position: absolute;
    color: #eee;
    display: block;
    z-index: 1;
    top: 0px;
    left: 0px;
}

a.glitch > span:first-child,
a.glitch > span:last-child {
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 0;
}

a.glitch:hover > span:first-child {
    color: #f51dd3;
    animation: hoverFx 0.4s infinite;
}

a.glitch:hover > span:last-child {
    color: #18b8ff;
    animation: hoverFx 0.5s infinite;
}

@-moz-keyframes hoverFx {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: -0.05em;
        left: 0.1em;
    }

    40% {
        top: 0.05em;
        left: -0.05em;
    }

    60% {
        top: -0.1em;
        left: -0.1em;
    }

    80% {
        top: 0.1em;
        left: 0.05em;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-webkit-keyframes hoverFx {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: -0.05em;
        left: 0.1em;
    }

    40% {
        top: 0.05em;
        left: -0.05em;
    }

    60% {
        top: -0.1em;
        left: -0.1em;
    }

    80% {
        top: 0.1em;
        left: 0.05em;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-o-keyframes hoverFx {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: -0.05em;
        left: 0.1em;
    }

    40% {
        top: 0.05em;
        left: -0.05em;
    }

    60% {
        top: -0.1em;
        left: -0.1em;
    }

    80% {
        top: 0.1em;
        left: 0.05em;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes hoverFx {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: -0.05em;
        left: 0.1em;
    }

    40% {
        top: 0.05em;
        left: -0.05em;
    }

    60% {
        top: -0.1em;
        left: -0.1em;
    }

    80% {
        top: 0.1em;
        left: 0.05em;
    }

    100% {
        top: 0;
        left: 0;
    }
}
